.mt-4 {
    margin-top: 1.5rem; /* Adjust the value as needed */
  }
  
  /* Ensure the table takes the full width of its container */
  .table {
    width: 100%;
  }
  /* Aumentar el tamaño del campo de búsqueda */
.custom-search {
    font-size: 1rem; /* Tamaño de fuente más grande */
    padding: 0.75rem; /* Espaciado interno mayor */
  }
  
  .container {
    width: 100%; /* Asegura que el contenedor use el 100% del ancho disponible */
    padding: 0 15px; /* Agrega un poco de espacio a los lados */
  }
  
  .table-responsive {
    overflow-x: auto; /* Agrega un scroll horizontal si es necesario */
  }
  